<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tasks</h1>

        <button onclick="location.href='/tasks/task1'">Begin Task 1 (Canva)</button>
        <br>
        <button onclick="location.href='/tasks/task2'">Begin Task 2 (Gmail)</button>
        <br>
        <button onclick="location.href='/tasks/task3'">Begin Task 3 (Google Sheets)</button>
        <br>
        <button onclick="location.href='/tasks/task4'">Begin Task 4 (Moodle)</button>
        <br>

        <h1> Forms</h1>
        <button onclick="location.href='/form_unprompted'">Unprompted Response Form</button>
        <br>
        <button onclick="location.href='/form_prompted'">Prompted Response Form</button>
    </div>
</body>
</html>