<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Thank You!</h1>
        <p style="text-align: center; font-size: 18px; margin: 30px 0;">Congratulations! You have successfully completed the experiment. We will reset this computer after you leave, so there is no need to log out of anything.</p>
    </div>
</body>
</html>
