<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 3: Google Sheets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='taskmanagement.js') }}"></script>
    <div class="container">
        <h1>Task 3: Graph Recreation in Google Sheets</h1>

        <div class="instructions">
            <h2></h2>
            <p><strong>Create a map of cities that looks identical to the given image, given the data in the spreadsheet. Note that you will need to make the coloring based on the logarithm of the population size, otherwise New York makes everything else look tiny.</strong></p>
            <p><strong>You will already be logged into Google Sheets under a test account, so there is no need to use your personal account.</strong></p>
            <p><strong>You will have 5 minutes to complete this task, after which the tab will close. The timer will start as soon as you click the "Begin Test" button below. You are not allowed to use outside resources, such as Google or ChatGPT. If you finish the task early, raise your hand and we will confirm your completion. We will not be able to answer questions regarding the task, but are available if you are encountering technical difficulties with the testing platform.</strong></p>
            <img src="{{url_for('static', filename='chart.png') }}">
        </div>

        <p class="timer" id="timer">05:00</p>

        <button onclick=startStopTimer("https://docs.google.com/spreadsheets/d/1qngvBkRNWum0ZXZICMj_wtjYXChIJS3K8Br0hVK8oMw/edit?usp=sharing") id="startbutton">Begin Test ↗</button>
    </div>
</body>
</html>